*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #59429d;
    font-family: 'DotGothic16', sans-serif;
}

fieldset{
    border: 0;
}
